<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwopnaSansar"
        tools:targetApi="31">
        <activity
            android:name=".notice.TeacherSelectNoticeUploadActivity"
            android:exported="false" />
        <activity
            android:name=".notice.TeacherSelectNoticeAdapter"
            android:exported="false" />
        <activity
            android:name=".notice.TeacherSelectNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".notice.TeacherEntireNoticeAdapter"
            android:exported="false" />
        <activity
            android:name=".notice.TeacherEntireNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".notice.TeacherCheckNoticeAdapter"
            android:exported="false" />
        <activity
            android:name=".notice.TeacherCheckNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".notice.ParentCheckNoticeAdapter"
            android:exported="false" />
        <activity
            android:name=".notice.ParentCheckNoticeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notice.TeacherNoticeMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>