<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwopnaSansar"
        tools:targetApi="31">
        <activity
            android:name=".TeacherMainActivity"
            android:exported="false" />
        <activity
            android:name=".SPMainActivity"
            android:exported="false" />
        <activity
            android:name=".admin.UserCheckEventActivity"
            android:exported="false" />
        <activity
            android:name=".notice.TeacherSelectNoticeUploadActivity"
            android:exported="false" />
        <activity
            android:name=".notice.TeacherSelectNoticeAdapter"
            android:exported="false" />
        <activity
            android:name=".notice.TeacherSelectNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".notice.TeacherEntireNoticeAdapter"
            android:exported="false" />
        <activity
            android:name=".notice.TeacherEntireNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".notice.TeacherCheckNoticeAdapter"
            android:exported="false" />
        <activity
            android:name=".notice.TeacherCheckNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".notice.ParentCheckNoticeAdapter"
            android:exported="false" />
        <activity
            android:name=".notice.ParentCheckNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".attendance.ParentAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".homework.TCheckUploadedHWActivity"
            android:exported="false"
            android:parentActivityName=".homework.THWMainActivity" />
        <activity
            android:name=".homework.SPCheckHWActivity"
            android:exported="false" />
        <activity
            android:name=".homework.SPSubmitHWActivity"
            android:exported="false"
            android:parentActivityName=".homework.SPCheckHWActivity" />
        <activity
            android:name=".homework.TCheckSubmittedHWDetailActivity"
            android:exported="false"
            android:parentActivityName=".homework.TCheckSubmittedHWActivity" />
        <activity
            android:name=".homework.TCheckSubmittedHWActivity"
            android:exported="false"
            android:parentActivityName=".homework.THWMainActivity" />
        <activity
            android:name=".homework.TUploadHWActivity"
            android:exported="false"
            android:parentActivityName=".homework.THWMainActivity" />
        <activity
            android:name=".homework.THWMainActivity"
            android:exported="false" />
        <activity
            android:name=".youtube.TeacherCheckYoutbeListActivity"
            android:exported="false" />
        <activity
            android:name=".youtube.TeacherPostYoutubeLinkActivity"
            android:exported="false"
            android:parentActivityName=".youtube.TeacherCheckYoutbeListActivity" />
        <activity
            android:name=".accountant.SPCheckTuitionActivity"
            android:exported="false" />
        <activity
            android:name=".accountant.AccountantTuitionInputActivity"
            android:exported="false"
            android:parentActivityName=".accountant.AccountantTuitionCheckActivity" />
        <activity
            android:name=".accountant.AccountantTuitionCheckActivity"
            android:exported="false"
            android:parentActivityName=".AccountantMainActivity" />
        <activity
            android:name=".AccountantMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".attendance.TeacherAttendanceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notice.TeacherNoticeMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.SelectTeacherActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.CreateClassActivity" />
        </activity>
        <activity
            android:name=".admin.SelectStudentActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.CreateClassActivity" />
        </activity>
        <activity
            android:name=".admin.ClassListActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminMainActivity" />
        </activity>
        <activity
            android:name=".admin.CreateClassActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.ClassListActivity" />
        </activity>
        <activity
            android:name=".admin.AccountantListActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.EditListActivity" />
        </activity>
        <activity
            android:name=".admin.EditAccountantActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.AccountantListActivity" />
        </activity>
        <activity
            android:name=".admin.TeacherListActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.EditListActivity" />
        </activity>
        <activity
            android:name=".admin.StudentListActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.EditListActivity" />
        </activity>
        <activity
            android:name=".admin.EditTeacherActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.TeacherListActivity" />
        </activity>
        <activity
            android:name=".admin.EditStudentActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.StudentListActivity" />
        </activity>
        <activity
            android:name=".admin.EditListActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminMainActivity" />
        </activity>
        <activity
            android:name=".admin.CheckEventActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminMainActivity" />
        </activity>
        <activity
            android:name=".admin.CreateEventActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.CheckEventActivity" />
        </activity>
        <activity
            android:name=".AdminMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.CheckRoleActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
    </application>

</manifest>